body {
    display: flex;
    flex-direction: column;
    height: 95%;
    background: #eeeeee;


}

#test_persons {
    display: flex;
    background: #2255ee;
    flex-wrap: wrap;
    padding: 3px;
}

.person {
    display: flex;
    flex-wrap: wrap;
}



.person_item {
    width: 300px;

    flex: 1 1 100px;
    display: flex;
}

body > * {
    flex: 1;

}

body > *:last-child {
    flex: 5;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.content > img {
    flex: 1;
    flex-basis: 64px;
    width: 64px;
    height: 64px;
}

a {
    color: red;
    margin: 20px;
}

.service {
    float: left;
    background: #eeeeee;
    width: 27%;
    padding: 2%;
}

.content {
    margin: 20px;
    background: #ee00ee;
    clear: left;
}

* {
    border: 1px solid;
    margin: 1px;
    padding: 3px;
}

#articles {
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    flex-direction: column;
    background: #00ffff;

    justify-content: flex-end;
}

#articles > p {
    background: #ee0000;
    flex: 1;

    transition: flex-basis 1s linear;
    transition: width 3s linear;
}

#articles > p:first-child {
    flex: 2 5 0px;
}

